<section>
    <button class="num btn1" (click)="onClick(1)">1</button>
    <button class="num btn2" (click)="onClick(2)">2</button>
    <button class="num btn3" (click)="onClick(3)">3</button>
    <button class="num btn4" (click)="onClick(4)">4</button>
    <button class="num btn5" (click)="onClick(5)">5</button>
    <button class="num btn6" (click)="onClick(6)">6</button>
    <button class="num btn7" (click)="onClick(7)">7</button>
    <button class="num btn8" (click)="onClick(8)">8</button>
    <button class="num btn9" (click)="onClick(9)">9</button>
    <button class="num btn0" (click)="onClick(0)">0</button>
    <button class="op btn11" (click)="onClickOp('/')">/</button>
    <button class="op btn12" (click)="onClickOp('*')">*</button>
    <button class="op btn13" (click)="onClickOp('-')">-</button>
    <button class="op btn14" (click)="onClickOp('+')">+</button>
    <button class="btn15" (click)="onClickOp('=')">=</button>
    <button class="btn16" (click)="onClickOp('C')">C</button>
    <button class="btn17" (click)="onClickOp('AC')">AC</button>
</section>