<div class="usablePart">
	<div class="modifyAmount">
		<input [ngStyle]="{'background-color': clientAmount < 10 ? 'orange' : 'rgb(0, 149, 207)', 'color': 'white'}" class="amount" value="{{clientAmount}}">
		<button *ngIf="clientAmount< dishView.getAmount(); else voidBlock" class="addAmount" (click)="increaseClientAmount(dishView)">+</button>
		<button *ngIf="clientAmount != 0; else voidBlock" class="subtractAmount" (click)="reduceClientAmount(dishView)">-</button>
		<ng-template #voidBlock>
			<div class="voidBlock"></div>
		</ng-template>
	</div>
	<!-- <button class="delete" (click)="onDeleteDish(dishView)">Usuń</button> -->
</div>