
.usablePart{
	margin: 5px;
	z-index: 0;
}

.modifyAmount{
	width: 30px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.amount{
	width: 30px;
	text-align: right;
	border: 1px solid black;
	margin: 2px;
}

.addAmount, .subtractAmount, .voidBlock{
	width: 36px;
	height: 20px;
	border: none;
	margin: 2px;
	border-radius: 30px;
	z-index: 0;
}

.addAmount{
	position: relative;
	left: 0px;
	background-color: rgb(42, 211, 0);
}

.addAmount:hover{
	background-color: rgb(32, 158, 0);
}

.subtractAmount{
	background-color: rgb(253, 27, 27);
}

.subtractAmount:hover{
	background-color: rgb(190, 17, 17);
}

.voidBlock{
	background-color: transparent;
}